* {
  text-align: center;
}
button {
  background-color: aqua;
  width: 50px;
  border-radius: 5px;
  font-size: larger;
}
h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.footing {
  position: fixed;
  bottom: 10px;
  text-align: center;
  width: 100%;
  text-shadow: 0.6;
  opacity: 0.5;
}
